<html>
  <head>
    <style type='text/css'>
      body{
        font-family:"georgia", sans-serif;
      }
      body>h1{
        text-align:center;
        font-size:1.5em;
      }
    </style>
    <link rel="alternate" type="application/atom+xml" title="vox dolo dot me"
      href="http://feeds2.feedburner.com/voxdolo" />
    {% if page.title %}
    <title>vox dolo dot me | {{ page.title }}</title>
    {% else %}
    <title>vox dolo dot me</title>
    {% endif %}
  </head>
  {% if page.body_id %}
  <body id='{{ page.body_id }}'>
  {% else %}
  <body>
  {% endif %}
    {{ content }}
  </body>
</html>
